################################################################
# Application
################################################################
APP_NAME=Lvl-Boost-2
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_TIMEZONE='Europe/Madrid'

APP_URL=http://localhost

APP_LOCALE=es
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=es_ES
################################################################

################################################################
# Log
################################################################
LOG_CHANNEL=daily
LOG_LEVEL=debug
################################################################

################################################################
# Database
################################################################
DB_CONNECTION=mysql
DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=db_lvl_boost_2
DB_USERNAME=sail
DB_PASSWORD=password
################################################################

################################################################
# Session
################################################################
SESSION_DRIVER=database
################################################################

################################################################
# Email
################################################################
MAIL_MAILER=smtp
MAIL_SCHEME=null
MAIL_HOST=mailpit
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"
################################################################

################################################################
# Frontend - Vite
################################################################
VITE_APP_NAME="${APP_NAME}"
################################################################
