includes:
    - vendor/larastan/larastan/extension.neon
parameters:
    paths:
        - app
        - config
        - routes
    level: 7
    ignoreErrors:

    excludePaths:
    # phpVersion: 80500  # 8.5.0
